
.site-footer{
	overflow:hidden;
	width:100%;
	background:#202020;
	.site-info{
		padding:0;
	}
	.widget{
		color:#f4f3f3;
		background:#202020;
		box-shadow: none;
		border-width: 0;
		a:hover{
			color: $color__link-footer;
		}



			h3{
				 text-transform: uppercase;
				 text-align: left;
				 margin:1em 0;
				}
			a{color:#bfbfbf;}
			ul li{
				margin-left:0;
				border-bottom: none;
			}

		}

	}


.footer-wrap{

	//BUUDY PRESS Login
	.widget h3::after, .widget h1::after{
			  content: '';
			  width: 90px;
			  height: 1px;
			  background: $color__link-sidebar;
			  position: absolute;
			  left: 0px;
			  bottom: -1px;
			}

			.widget h3, .widget h1 {
				color: rgb(255, 255, 255);
				border-bottom: 2px solid $color__footer-underline;
				position: relative;
			}
		.widget .input{
			background: $color__theme;
		}
	//BUDDY PRESS Members
	.item-options{

		a{color:#fff;
			background:$color__link-sidebar;
			border:2px solid $color__link-sidebar;
			margin-right: -15.99px;
			}
		a:hover{ color:#fff;
				  border:2px solid #D4C2C2;
				}
	}
	//SEARCH
	.search-box{
			.estella-search-box{
			  border:none;
			  border-top: 1px solid #fff;
			}
	}

	//ARCHIVE
	.widget_archive{
		a:hover{
			color:$color__link-sidebar;
		}
	}
	//META
	.widget_meta{
		a:hover{
			color:$color__link-sidebar;
		}
	}
	//TAGS
	.tagcloud{
		a:hover{
			color:#fff;
			border-radius:0;
		}
	}
	//RECENT COMMENTS
	.widget_recent_comments{
		li {padding: 0.50em 0 0.50em 1em;
			display:block;
			border-radius:3px;
		   }
		   //MONSTER WIDGET Recent Comment

		h1{
		font-size: 1.35em;
		text-transform: uppercase;
		margin: 1em 0;
		letter-spacing: 1px;
			}

		a:hover {
	 	  		   color:$color__link-footer;
	 	  		   transition: 0.5s;
	 	  	}
	}
	//PAGES
	.widget_pages{
		ul > li a:hover{
	 	  	        color: $color__link-footer;
	 	  	        transition: 0.5s;
	 	  		}
	}
	//CALENDAR
	.widget_calendar{
	caption{text-align: left; margin-bottom: 0.25em;}
	thead th{ background:#908d8d;}
	a{padding:0.2em 0.5em;border-radius:3px;}
	a:hover{
	 	  	  color: $color__link-footer;
  	              transition: 0.5s;
	   		}
	 }
	//CATEGORIES
	.widget_categories{
		li:hover a{
			color: $color__link-sidebar;
	 	  	transition:0.5s}
	 	 	select{
			@include select();
		}


	}
	//RECENT POSTS
	.widget_recent_entries{
		li{
	 	  	a:hover {
	 	  		   color:$color__link-footer;
	 	  		   transition: 0.5s;

	 	  		}

		}
	}
	//CUSTOM MENU
	.widget_nav_menu{
		a:hover{color:$color__link-footer;}
	}
	//RECENT POSTS estella
	.estella_recent_posts{
		.post-title-date{
					a{color:#dfdfdf; margin-left:0;padding:0;}
					a:hover{color:$color__link-footer;}
				}
	}

	.widget{padding-top:0;padding-bottom:0;}





}//END .footer-wrap

.site-info{
	background:$color__footer-author;
	padding:1em 0 1em 0;
	color: #636363;
	span{ color:#bfbfbf;}
	a{ color:#bfbfbf;}
	.footer-wrap{

			a:hover{color:$color__link-hover;}
			}
	.estella-footer-icons{
		text-align: center;
		margin-top: 2em;
				}
	.estella-author-name{
		text-transform: uppercase;
		text-align: center;
		font-size: 0.9em;
		letter-spacing: 1px;
		margin-bottom: 1em;
			}


}

//Powered by Wordpress
.site-info a:first-child{
		color: #bfbfbf;
		margin-left: 0.25em;

	}
.site-info ul{

		list-style:none;
		vertical-align: middle;
		display: inline-block;
			}

//FOOTER ICONS
.site-info .footer-icons{
		margin: 0 ;
		padding:0;

		li{
	   		float: left;
	   		& span:before{
	 	  		padding:8px 15px;
	 	  		font-size: 1.2em;
	 	  		// background: #808080;
	 	  		background:#333333;
	 	  		display: block;
	 	  		margin-right: 0.5em;
	 	  		border-radius: 3px;
	 	  		color:$color__link-sidebar;
	 	  	}

	 	  	span{
	 	  		font-family: "FontAwesome";
	 	  		cursor: pointer;
	 	  		color:#fff;
	 	  	}//END span:
	 	 }


}
//FOOTER SCROLL
.footer-scroll span:before{
				border-radius:3px;
	 	  		padding:8px 15px;
	 	  		font-size: 1.2em;
	 	  		background: rgba(0,0,0,0.19);
	 	  		display: block;
	 	  		margin-right: 0.5em;
			content: "\f077";	//ARROW UP
			font-size: 1.5em;
			padding:0.1em 0.2em 0.2em 0.2em;
			 font-family: 'fontawesome';
 	  					}
 	  		.footer-scroll:hover span:before{
				background: rgba(0,0,0,0.4);
							}
.footer-scroll{
	z-index: +999;
	position: fixed;
	right: 10px;
	top: 570px;
	cursor: pointer;
	opacity: 0.6;
}


//Responsive site-info
@media ( min-width:56.875rem){
		//Footer Widget
		#custom-footer {
				.widget{
					float: left;
					width: 30%;
					}
				div:nth-child(3n+1){
							clear:left;
							}
				}
		//site info
		.site-info ul li{
			float:left;
			}

}

@media (max-width: 56.875rem){
		//Footer Widget
		#custom-footer {
				.widget{

					float: left;
					width: 50%;

					}
				div:nth-child(2n+1){
							clear:left;
							}
				}
	//site info
	.site-info{
		text-align: center;
	}
	.site-info ul li{
			float:left;
			}
	.site-info ul{
		clear:both;
		display: inline-block;
		margin-left :0;
		}
}

@media (max-width: 35.625rem){
	//Footer Widget
		#custom-footer {
				.widget{

					float: left;
					width: 100%;

					}
				div:nth-child(n+1){
							clear:left;
							}
				}
	//site info
	.site-info{
		text-align: center;

		a:first-child{ margin:0;}
		ul:first-child span{ display:none;}
		//decreasing span icon size
		ul:nth-child(2) li span{
			font-size: 0.75em
			}
		}
	.site-info ul, .site-info ul:first-child li{
		clear:both;
		float: none;
		display: inline-block;
		margin-left :0;
		}


}

.estella-footer-icons {
	.fa{margin-bottom:1em;}
	.fa:before{
		padding: 12px 15px;
	    font-size: 1.2em;
	    background: #333;
	    display: block;
	    margin-right: 0.5em;
	    border-radius: 3px;
	    color: #ab977a;
	}
	.fa-facebook:before{ padding:12px 18px;}
	.fa-google-plus:before{ padding:12px 15px;}
	.fa-tumblr:before{ padding:12px 18px;}

		//hover
	.fa-facebook:hover:before{
		background:#3c5a99; color:#fff; transition:0.5s;
			}

	.fa-twitter:hover:before{
		background: #62abe0; color:#fff; transition:0.5s;
				}
	.fa-rss:hover:before{
		background: #fa9c3a; color:#fff; transition:0.5s;

					}
	.fa-google-plus:hover:before{
		background: #dd4b39; color:#fff; transition:0.5s;

					}
	.fa-flickr:hover:before{
		background: #ff0084; color:#fff; transition:0.5s;

					}
	.fa-pinterest:hover:before{
		background: #c8232c; color:#fff; transition:0.5s;

					}
	.fa-youtube:hover:before{
		background: #c4302b; color:#fff; transition:0.5s;

					}
	.fa-vimeo-square:hover:before{
		background: #4EBBFF; color:#fff; transition:0.5s;

					}
	.fa-tumblr:hover:before{
		background: #2C4762; color:#fff; transition:0.5s;

					}
	.fa-dribbble:hover:before{
		background: #C73B6F; color:#fff; transition:0.5s;

					}
	.fa-linkedin:hover:before{
		background: #0e76a8; color:#fff; transition:0.5s;

					}
	.fa-instagram:hover:before{
		background: #3f729b; color:#fff; transition:0.5s;

					}


}










