//MAIN MENU STYLE
.site-header{
	width:100%;
	background: #fff;
	line-height:4.618rem;
	box-shadow:none;
		a{
			font-family:'Tahoma';
			letter-spacing: 1px;
		}
		.estella-navigation-second{

				float:left;
				font-family:"lft-etica";

				ul{

					li{
						border-radius:3px;
						text-align: left;

						ul li{border-bottom:1px solid #999696;
							}
						a{
							// min-width: 200px;

						}
					}
					a:hover{

						color: $color__link-header-hover;//navigation menu
						transition: 0.5s;
					}
					li:hover ul{
						// background: rgba(0,0,0,0.50);
					}

				}//END ul

			}//END .menu-main...

}//END #masthead
.estella-navigation-second{
	text-transform: uppercase;
	a{color:$color__text;}
	.open{
		color:#fff;
	}
	a:hover{
		color: $color__link-hover;
	}
}
.estella-navigation-second{
	.open li a{
		color:#fff;
	}
}

//NAVICON
			.navicon{
				line-height: 0;
				width: 42px;
				margin-top: 5px;
				margin-bottom: 12px;
				font-size:2.5rem;
				color:$color__link-header;
			}
			.navicon:hover{
				color: $color__link-hover;
				transition: 0.5s;
			}
//NAVIGATION 1
#head-container {

			.estella-navigation-one{
				margin-top: -50px;
				background: rgba(0,0,0,0.50);
			}

			.menu-testing-menu-container{
			text-transform: uppercase;
			text-align: left;
			margin-top: 100px;
				ul{

					li{
						border-radius:3px;
						text-align: left;

						ul li{border-bottom:1px solid #999696;
							}
						a{
							color:$color__text;

						}
					}
					a:hover{
						// background: rgba(0,0,0,0.0);
						color: $color__link-header-hover;//navigation menu
						transition: 0.5s;
					}

						}//END ul

					}//.menu-testing-menu-container
}

#head-container .estella-navigation-one{
	display: none;
}
//NAVIGATION 1 end

@media(min-width:1000px){

#head-container .estella-navigation-one{
	display: none;
}
.menu-main-menu-container{
			li:hover ul{
				display:inline-block; //to display the sub nav menu on hover
						}
			.mytheme_menu_switch{
				display: none;
					}
			}
}//media


//TESTING MENU STYLE
.site-header{
		a{
			color:$color__text;

			}

		.menu-testing-menu-container,.estella-navigation-second{
				float:left;
				font-family:'Oswald';

			ul{

					li{
						border-radius:3px;
						text-align: left;

						ul li{border-bottom:1px solid #999696;
							}
					}
					a:hover{

						color: $color__link-header-hover;//navigation menu
						transition: 0.5s;
					}

				}//END ul

			}//END .menu-main...

}//END #masthead
.main-navigation .menu-testing-menu-container{
	text-transform: uppercase;
}


@media(min-width:1000px){

.menu-testing-menu-container,.estella-navigation-second{
			li:hover ul{
				display:inline-block; //to display the sub nav menu on hover
						}
			.mytheme_menu_switch{
				display: none;
					}
			}
}//media

#estella-main-slider
{
	background-image:url('images/loader.gif');
	background-position: center;
	background-repeat:no-repeat;

	#slider{
		visibility:hidden;

	}

}