.site-content{
max-width:1150px
}
.entry-footer {
	span {
		font-size: 14px;
		padding: 10px;
	}
}
.tags-links a {
	background: #fff;
    padding: 0px 5px;
    margin: 5px;
    border: 1px solid #f2f2f2;
}
.estella-continue-reading {
	display: block;
	margin: 20px 0;
	text-align: right;
	a {
		padding: 5px 10px;
		border: 1px solid;
	}
}
.estella-post-date, .estella-post-author {
	padding: 10px;
	&:before {
		margin-right: 5px;
	}
}
.post-heading{
	.fa{font-size:16px;}
}



.icon-calandar{ color:#7E6F59;}

.posts-navigation{
	display:none;
}
article  .wp-post-image {
	width:100%;
	&:hover{
		opacity:0.75;
	}
}
article p{margin-top:0.75em;}

//In Single Page
.page{
	.post-heading{
		font-size: 2em;
		color:$color__theme;

	}
}
.entry-header {
	.post-single-heading{
		font-size: 25px; margin:0.25em 0 1em 0; padding:0;

							}

}

//entry-footer of posts
.entry-footer {
	max-width:100%;
	position:relative;
	letter-spacing:1px;
	ul{
		li{
			list-style: none;
			&:hover a{ color:$color__link-hover; transition:0.5s;} //for READ MORE
			.read-more{
				float:right;
						}
			.read-more:after{
				margin-left: 0.5em;
				color:$color__link-posts;
				content: "\f178";
				font-family: "FontAwesome";

			}
			&:hover .read-more:after{ color:$color__link-hover; transition:0.5s;}

			a{

				font-size: 1em;
				color:$color__link-posts;


				}
		}


	}
}
//Load More button

.estella-load-more{
	background:#fff;
	border-color:#e9e6df;
	color:$color__link-posts;

}

//PAGINATION
.estella-pagination {
	text-align: center;
	margin: 30px 0;
	.current, a {
		background: #ffffff;
	    padding: 20px 35px;
	    border-radius: 3px;
	}
	.current {
		background: $color__theme;
		color: #ffffff;
	}
}

//making the head posts responsive
@media (max-width: 65.625rem) {

	.entry-header .post-single-heading{
				font-size: 1.3em;
			}

}
@media (max-width: 40.625rem) {
		article {
			.entry-header .post-caret:before, .entry-header .post-single-caret:before{
				font-size: 1.8em;
						}
				}
		.entry-header .post-single-heading{
			font-size: 1em;
		}

}
@media (max-width: 34.375rem) {
	.head-post{
		margin-bottom: 2em;

		.estella-post-date, .estella-post-comment{
			font-size: 0.90em;
					}

		}
			.entry-footer{
						ul li a{
							font-size:0.90em;
						}
		}

		article {
			.entry-header .post-caret:before{
				bottom:18px;
				left:-10px;

					}
			p{margin-top:0.50em;}
		}
}
@media (max-width: 25rem){
	article {
			.entry-header .post-caret:before{
				bottom:11px;
				left:-10px;

					}
			}
}
//older Post style
#main .posts-navigation {
	background:#d6d7d8;
		a{
			color: #fff;
			text-transform: uppercase;
		      letter-spacing: 3px;
		}
		a:hover{
			color:$color__link-hover;
		}
}

.estella-pagination a, .estella-pagination .current{
	// padding: 10px 20px;
 //    border-radius: 3px;
    display: inline-block;
    margin: 10px 5px 10px 0px;
}
@media (max-width: 800px){
	.estella-pagination a,.estella-pagination .current{
	padding: 10px 20px;

    display: inline-block;
    margin: 5px 5px 5px 0px;
}

}
