
.widget-area {

	//aside head style

	h1{
		border-radius:3px;
		background:#fff;
		border: 2px solid rgb(233, 230, 223);
		padding:0.3em 0.5em 0.3em 0.5em;
		color: rgb(171, 151, 122);
		border-radius:3px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 1em;
		}


}

.widget{
	a{color:$color__link-sidebar;}
	ul{
		li{
			border-bottom: 1px solid $color__underline;
		}
	}
	//SEARCH BOX
	.search-box{
			.estella-search-box{
			  padding: 4px 0px;
			  border: 2px solid #E9E6DF;
			  border-radius: 0;
			  padding-left: 10px;
			  text-indent: 5px;
			  color:$color__text-sidebar;
			}
			.estella-submit{
				margin: 0;
				color: #fff;
				border: none;
				box-shadow: none;
				padding: 0.4em 0.5em 0.3em 0.5em;
				margin-left: -5px;
				letter-spacing: 1px;
				background: #AB977A;
				cursor:pointer;
			}
			.estella-submit:hover{
				background:$color__link-hover;
				transition: 0.5s;
			}

	margin-top: $widget_t_padding;
	margin-bottom: $widget_b_padding/2;
	}

}
//Estella Social Widget
.widget_estella_social_widget{
	ul li{
		display: inline-block;
		border-bottom: none;
		margin: 0 10px 10px 0;
		a{
			display: inline-block;
    		border: 1px solid #e9e6df;

    	   	padding:5px 10px 5px 10px;
    	   	.fa-facebook{padding:0px 3px 0px 3px;}
    	   	.fa-vimeo-square{padding:0px 3px 0px -1px;}
    	   	.fa-tumblr{padding:0px 3px 0px 3px;}
    	   	.fa-youtube{padding:0px 1px 0px 2px;}
    	   	.fa-linkedin{padding:0px 1px 0px 2px;}
    	   	.fa-dribbble{padding:0px 2px 0px -1px;}
		}

	}
	& a:hover{
		color: #fff;
    	background: #7e6f59;
    	transition: 0.5s;
	}
}

//RECENT POSTS estella Widget
.estella_recent_posts{
			//Recent Posts
			ul{
			li{
			border-bottom:none;
			clear:both;
			padding-left: 0;
			overflow: hidden;
			margin-top: 10px;
				a{padding:0;}
				img{
					width: 75px;
					height: 75px;
					border-radius: 50%;
				}
				span{
					// margin-left: 30em;
				}

				//floating the img to the left and post title and date to the right
				.aside-post-img{
					float: left;
					margin-left: 0.75em;
					width: 27%;
					height:74px;
					text-align: right;

				}
				.post-title-date{
					float:right;
					margin-top:0.5em;
					margin-right: 0.75em;
					line-height: 1.1em;
					width: 60%;
					a{color:#424242; text-transform: uppercase;}
					p{font-size:0.7em; color:#999;}
					span{color:#999;font-style: italic;font-size:0.9em;}

						}
				a:hover { color:$color__link-hover; transition:0.5s;}
		}//end li
		}//end ul
	}
//RECENT POSTS(Default)
.widget_recent_entries{
	ul{
		li{
			a:hover { color:$color__link-hover; transition:0.5s;}
			// a:before{
			// 	font-family: 'FontAwesome';
			// 	content: "\f0a9";	//icon for posts
			// 	margin-right: 0.5em;
			// }
		}
	}
}
//CALENDAR WIDGET
#wp-calendar{
	color:#ababab;

	caption{			//calendar head
		text-align: center;
		text-transform: uppercase;
		}
	thead th{			//days
		text-align: center;
		background:$color__theme;
		color:#fff;
		padding: 0.5em 0 0.5em 0;

		}

	tbody td{			//dates
		text-align: center;
		a{ color: #44f200; }

	}
	tfoot td{
		padding: 0.5em 0 0 0;
		a{text-transform: uppercase;}
		}
	a{padding:0.2em 0.5em;border-radius:3px;}
	a:hover{color:$color__link-hover;}

}
// RECENT COMMENT Widget
.widget_recent_comments{
	ul{
		// li{ text-align: center;}
		li span:before{
			// font-family: 'FontAwesome';
			// content: "\f007";	//icon for user
			// margin-right: 0.5em;
		}
		a{font-style: italic;  color:$color__link-sidebar;}
		a:hover { color: $color__link-hover;
	 	  		   transition: 0.5s;
	 	  		   }
		}
		li {padding: 0.50em 0 0.50em 1em;
			display:block;
			color:$color__text-sidebar;
			border-radius:3px; }
}
// Archives Widget
.widget_archive{
	select{
			@include select();
		}
	ul{
		li{
			text-align: left;
			border-radius:3px;
			// margin-left: 1em;

			a:before{
			// font-family: 'FontAwesome';
			// content: "\f1c6";	//file-archive icon for months
			// margin-right: 0.5em;
				}
			a:hover {
	 	  		   color: $color__link-hover;
	 	  		   transition: 0.5s;

	 	  		}
		}


	}
}
//PAGES
// #pages-3 ul{ margin-left: 1em; }

.widget_pages > ul > li a:hover{
	 	  	        color: $color__link-hover;
	 	  	        transition: 0.5s;

	 	  		}

.widget_pages .children {
			li a:before {
				// font-family: 'FontAwesome';
				// content: "\f101";
				// margin-right: 0.5em;
				}

	}

//TAGS
.tagcloud{
	margin-bottom:0.5em;
		a{
			padding:0.1em 0.4em;
			display: inline-block;

			border: 1px solid rgb(233, 230, 223);

			&:hover{
			        color:#fff;
			        background:$color__link-hover;
	 	  	        transition: 0.5s;
			}
		}

}

// Categories Widget
.widget_categories{
	select{
			@include select();
		}
		ul li{
			padding: 0.50em 0 0.50em 1em;
		}
		ul li a{display:inline; padding:0;}
		li:hover a{
			color: $color__link-hover;
	 	  	transition: 0.5s;
		}
}
.widget_categories > ul > li >a:before {

				// font-family: 'FontAwesome';
				// content: "\f0a9";	//icon for posts
				// margin-right: 0.5em;
				}


//Meta Widget
.widget_meta{

	ul{
		li{
			text-align: left;
			// margin-left: 1em;

			// a{
			// font-family: 'FontAwesome';
			// 	}
			// &:nth-child(1) a:before{ content: "\f007"; margin-right: 0.5em;}
			// &:nth-child(2) a:before{ content: "\f011"; margin-right: 0.5em;}
			// &:nth-child(3) a:before{ content: "\f09e"; margin-right: 0.5em;}
			// &:nth-child(4) a:before{ content: "\f086"; margin-right: 0.5em;}
			// &:nth-child(5) a:before{ content: "\f19a"; margin-right: 0.5em;}

			 a:hover{ color: $color__link-hover;
	 	  		   transition: 0.5s}
		}

	}
}
//CUSTOM MENU
.widget .menu-main-menu-container{

	ul{
		li{
			text-align: left;

			// a:before{
			// font-family: 'FontAwesome';
			// content: "\f138";	//chevron-circle-right icon for categories
			// margin-right: 0.5em;
			// 	}

		}
		&>li a:hover{
	 	  		   color: $color__link-hover;
	 	  		   transition: 0.5s

	 	  		}

	}//END ul

}

//NAV MENU
.widget_nav_menu> div > ul > li >a:before {

				// font-family: 'FontAwesome';
				// content: "\f0a9";	//icon for posts
				// margin-right: 0.5em;

				}
.widget_nav_menu > div > ul > li a:hover{
	 	  	        color: $color__link-hover;
	 	  	        transition: 0.5s;

	 	  		}

.widget_nav_menu .sub-menu {
			li a:before {
				// font-family: 'FontAwesome';
				// content: "\f101";
				// margin-right: 0.5em;
				}

	}


//MONSTER WIDGET RSS
.widget_rss{

			.rsswidget{
				padding-right:0.5em;
				padding-left:0.5em;
			}
			ul {
				.rss-date{
					color: #999999;
					padding-left:1.0em;
					font-size:0.9em;
							}
				cite{
					padding-right:1em;
					color:#cdcdcd;
					font-style: italic;
					font-size:0.7em;
					display: block;
					text-align: right;
					}
				// a:before{
				// font-family: 'FontAwesome';
				// content: "\f0a9";	//icon for posts
				// margin-right: 0.5em;
				// 		}
			}
	.rsswidget{
			border-bottom: 1px solid #e5e5e5;
			margin-bottom:0.5em;
			font-weight: bold;
	 	  	&:hover {  color: $color__link-hover;
	 	  		   	    transition: 0.5s;

	 	  		}
			}
	.rssSummary{
		padding:0.50em 1em 0.50em 1em;
		font-size:0.7em; color:#999;

	}
}

//MONSTER WIDGET Text
.widget_text{
	color:$color__text-sidebar;
	strong{text-transform: uppercase; color:$color__link-sidebar;}
	.textwidget p{
		font-size:0.7em;
	}
	select{
		background:#fff;
		color:$color__text-sidebar;
		font-size:0.8em;
	}
}


//BUDDY PRESS MEMBERS
//img
.avatar{
	border-radius:50%;
	margin-left:0.5em;
}
.item-avatar{
	margin-left:1em;
}
.widget.buddypress div.item-options{
	margin:0;
	padding:0.5em 0em 0.5em 0.5em;
}
.widget_bp_core_members_widget{

	.item-options{
		color:rgba(255,255,255,0);
		a{
		background:#fff;
		border: 2px solid #D4C2C2;
		padding:0.4em 0.6em 0.4em 0.5em;
		color: $color__link-sidebar;
		border-radius:3px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 0.75em;
		margin-right: -18.99px;
		}
		a:hover{
			background:$color__theme;
			border: 2px solid $color__theme;
			color:#fff;
			transition: 0.5s;
		}

	}// end .item-options
	.item-avatar{
		margin: 0;
	}
	//username
	.item-title{
		margin: 0;
		padding: 0;
	}

	ul > li  {
				a{padding-bottom:0;}
				a:hover{color:$color__link-hover;}
			}
	.item-meta{
		font-style: italic;
		color:#ccc;
	}
}//end .widget_bp_core_members_widget

//BUDDY PRESS Who is Online
.widget_bp_core_whos_online_widget{
	color:$color__link-sidebar;
	a:hover{
		color:$color__link-hover;
	}
}

//BUDDY PRESS Recently Active Members
.widget_bp_core_recently_active_widget{
	color:$color__link-sidebar;
	a:hover{
		color:$color__link-hover;
	}
}

//search box on error page
//SEARCH BOX
	.search-box{
			text-align: center;
			.estella-search-box{
			  padding: 4px 0px;
			  border: 2px solid #E9E6DF;
			  border-radius: 0;
			  padding-left: 10px;
			  text-indent: 5px;
			  color:$color__text-sidebar;
			}
			.estella-submit{
				margin: 0;
				color: #fff;
				border: none;
				box-shadow: none;
				padding: 0.4em 0.5em 0.3em 0.5em;
				margin-left: -5px;
				letter-spacing: 1px;
				background: #AB977A;
				cursor:pointer;
			}
			.estella-submit:hover{
				background:$color__link-hover;
				transition: 0.5s;
			}
		}

//Responsive
@media(max-width:1100px){
	.site-content .widget-area{
		width: 28%;
		margin-right: 1em;
		.search-box{
			.estella-search-box{width:120px;}
		}
	}
}

@media(max-width:1000px){

.estella_recent_posts{
	ul{
		li{
			.aside-post-img{
				margin-left: 0.25em;
			}
			img{
				width: 65px;
				height: 65px;
			}
		}
	}
}
}

@media(max-width:900px){
	.site-content .widget-area{
		width: 100%;
		margin-right: 0em;
		.estella_recent_posts{
			ul{
				li{
					.post-title-date {
						width: 65%;
					}

				}
			}
		}

		.search-box{

			.estella-search-box{width:200px;}
		}
	}
}
